body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
}

/* Generic Styles */
.d-flex {
  display: flex;
  align-items: center;
}

.text-xl {
  font-size: 50px;
  line-height: 50px;
}

.hide-on-small {
  display: none;
}

.show-on-small {
  display: flex;
}

.text-lg {
  margin-top: -10px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #f4f5f7;
}

.primary-text {
  color: #ff6b00;
}

.primary-color {
  background-color: #ff6b00;
}

.secondary-color {
  background-color: #1c1a19;
}

.font-crete-round {
  font-family: Crete Round, sans-serif;
  font-weight: normal;
}

.font-inter {
  font-family: Inter, sans-serif;
}

.text-white {
  color: white;
}

.font-size-medium {
  font-size: 18px;
}

.primary-button {
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  width: inherit;
  padding: 15px 0;
  display: block;
  transition: all 1s ease-in-out;
}

.primary-button:hover {
  border: 1px solid #f55800;
  color: #f55800;
  background-color: #fff5e1;
}

.button-sm {
  width: 120px;
}

.box {
  padding: 7px 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.box-container > ul {
  padding-left: 0;
}

/* Start of header styles */
header {
  height: 50px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  justify-content: space-between;
  background-color: #3e3c3c;
}

.bars > i {
  font-size: 20px;
  margin-right: 15px;
}

.bars > i:hover {
  color: yellow;
}

.space-x > li {
  padding: 0 30px;
}

/* Start of headline-section styles */
.headline-section {
  width: 100%;
  height: 100vh;
  margin-bottom: -11%;
  justify-content: center;
  background-image: url("../public/images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: inherit;
  background-position-y: 85%;
}

.desktop-headline-bg-section {
  display: none;
}

.mobile-version-icons > ul {
  margin-left: -40px;
}

.mobile-version-icons > ul > li {
  list-style: none;
  font-size: 20px;
  padding: 0 5px;
  cursor: pointer;
}

.mobile-version-icons > ul > li > a {
  color: #fff;
}

.mobile-version-icons > ul > li > a:hover {
  color: #ff6b00;
}

.headline-text-contents {
  margin-top: -100px;
  margin-left: 2px;
  padding: 0 10px;
  z-index: 20;
}

.headline-text-contents > h5 {
  font-family: Roboto, sans-serif;
  margin-top: -20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 10px;
  color: #fff5e1;
}

.headline-text-contents > p {
  font-family: Poppins, sans-serif;
}

/* Works section styles */
.works-section {
  height: auto;
  padding: 0 20px;
  background-color: #e5e5e5;
}

.works-section .intro {
  justify-content: center;
}

.heading-recent-works {
  padding-top: 40%;
  font-size: 40px;
  color: #1c1a19;
}

/* work section multi-post container */
.multi-post-container {
  padding: 60px 0 10px 0;
  flex-direction: column;
  justify-content: center;
}

.multi-post-content > h2 {
  font-size: 32px;
  color: #091e42;
}

.multi-post-content > p {
  margin-top: -6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #091e42;
}

.multi-post-content .box {
  color: #091e42;
  background-color: #fff;
  border: 1px solid #8993a4;
}

/* work section grid container and childrens */
.grid-container {
  overflow: hidden;
  padding: 30px 0;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.grid-items {
  height: 500px;
  align-items: flex-end;
  background-image: url("/public/images/img-placeholder-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid-items:last-child {
  margin-bottom: 100px;
}

.grid-item-card {
  width: 100%;
}

.grid-item-card-content {
  padding: 0 20px;
  flex-direction: column;
  align-items: flex-start;
}

.grid-item-card-content .box {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
}

.grid-item-card-content > h2 {
  font-size: 33px;
}

.grid-item-card-content > p {
  line-height: 28px;
  font-size: 17px;
}

.grid-item-card-content .box-container .box > p {
  font-size: 15px;
}

/* About Section styles */
.about-section {
  margin-top: -50px;
  height: auto;
  overflow-x: hidden;
}

.about-section-content {
  padding: 30px 20px;
}

.about-section > img {
  margin-top: -82px;
  position: absolute;
  right: 0;
}

.about-section-content > h1 {
  font-size: 60px;
  text-align: left;
  padding-top: 50px;
  margin-bottom: 10px;
}

.about-section-content .text {
  line-height: 25px;
  font-size: 16px;
  padding: 20px 0;
}

.about-section-content > button {
  width: auto;
  padding: 12px;
}

.about-section-content > hr {
  width: 90%;
  position: absolute;
  align-items: center;
  margin-top: 215px;
}

.about-categories-container {
  margin-top: 50%;
  flex-direction: column;
  padding-bottom: 30%;
}

.about-categories-container .category-item {
  margin-left: -50px;
  margin-bottom: -40px;
  flex-direction: column;
}

.category-title {
  margin: 45px 40px 30px 40px;
  font-size: 30px;
  font-weight: bold;
}

.category-subtitle {
  font-size: 22px;
  padding: 8px 0;
  margin: 0 30px 30px 50px;
}

.shape-size {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.diamond-shape {
  transform: rotate(-45deg);
}

.circle-shape {
  border-radius: 150px;
}

/* My-contacts form */
.contact-section {
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.contact-container {
  flex-direction: column;
  padding: 0 15px 10px 15px;
  justify-content: center;
}

.input {
  width: 327px;
  margin-bottom: 10px;
  background-color: #fbf8f7;
  padding: 4px 8px;
  font-size: 15px;
}

.input-text {
  height: 30px;
  border-color: #dbd8d7;
  border-width: 0 0 2px;
}

.outline-none {
  outline: 0;
}

.area {
  border-width: 0 0 0;
}

.contact-btn-width {
  width: 131px !important;
  height: 48px;
  top: calc(50% - 48px / 2 + 141px);
  margin-top: 15px;
}

.contacts-form {
  flex-direction: column;
  height: auto;
  padding-bottom: 40%;
}

.bg-contact-color {
  background-color: #e5e5e5;
}

.contact-para {
  color: #172b4d;
  line-height: 44px;
}

.font-center {
  text-align: center;
}

footer {
  height: 100px;
  margin-top: -20px;
  border-top: 1px solid #dfe1e6;
  justify-content: center;
  flex-direction: column;
}

footer .footer-icons > ul {
  justify-content: center !important;
}

footer .footer-icons > li {
  padding: 0 10px;
}

.footer-li-a {
  color: #505f79;
}

.footer-icons {
  padding: 5px 5px;
}

.small-divider {
  background-color: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
}

/* DESKTOP VERSION MEDIA QUERIRES */
@media (min-width: 992px) {
  /* header section */
  header {
    padding: 10px 10%;
  }

  .hide-on-large {
    opacity: 0;
  }

  .show-on-large {
    display: flex;
  }

  .headline-section {
    height: 100vh;
    margin-bottom: -1.9%;
    justify-content: space-between;
    background-image: none;
  }

  .headline-text-contents {
    margin: 0 0 0 5%;
    width: 50%;
  }

  .headline-text-contents > h1 {
    font-size: 72px;
    line-height: 81.5px;
  }

  .headline-text-contents > h5 {
    font-size: 32px;
    line-height: 44px;
  }

  .headline-text-contents > p {
    font-size: 20px;
    line-height: 32px;
  }

  .desktop-headline-bg-section {
    margin-top: 0%;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
  }

  .desktop-headline-bg-container {
    margin-top: -17.2%;
    height: 80%;
    width: 100%;
  }

  .desktop-headline-bg {
    height: 130%;
    width: 100%;
  }

  .sider-menu {
    width: 150px;
    height: 100%;
  }

  .sider-menu > ul > li {
    padding: 20px 0;
  }

  /* work section */
  .works-section {
    padding: 10px 5%;
  }

  .heading-recent-works {
    font-size: 40px;
    padding-top: 2%;
  }

  .works-section .ruler {
    width: 75%;
    height: 4px;
    margin: 3% 0 0 4%;
    background-color: #212121;
    border-radius: 15%;
  }

  .works-section > hr {
    display: none;
  }

  /* work section multi-post container */
  .multi-post-container {
    flex-direction: row;
    align-items: flex-start !important;
  }

  .multi-post-container > img {
    height: auto;
    width: 55%;
  }

  .multi-post-content {
    height: auto;
    width: 45%;
    margin-left: 50px;
  }

  .multi-post-content > h2 {
    font-size: 40px;
    line-height: 52px;
    margin-top: -10px;
  }

  .multi-post-content > p {
    width: 80%;
    margin-top: -6px;
    font-size: 20px;
    line-height: 32px;
  }

  /* Grid Section */
  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
  }

  .grid-item-1 {
    background-image: url("/public/images/img-placeholder-3.png");
  }

  .grid-item-2,
  .grid-item-5 {
    background-image: url("/public/images/img-placeholder-4.png");
  }

  .grid-item-3,
  .grid-item-6 {
    background-image: url("/public/images/img-placeholder-5.png");
  }

  .grid-item-4 {
    background-image: url("/public/images/img-placeholder-2.png");
  }

  /* hide content and show button when hover on the card */
  .grid-item-card > .grid-item-card-content {
    transition: opacity 1s ease-in-out;
  }

  .grid-item-card:hover > .grid-item-card-content {
    opacity: 0;
  }

  .grid-item-card > .project-btn {
    opacity: 0;
    width: 0%;
    transition: all 1s ease-in-out;
  }

  .grid-item-card:hover > .project-btn {
    opacity: 1;
    width: inherit;
  }

  /* About Section styles */
  .about-section {
    padding: 0 5%;
  }

  .about-section > img {
    width: 40%;
    margin-top: -17%;
  }

  .about-section .about-section-content > h1 {
    font-size: 72px;
  }

  .about-section-content .text {
    width: 40%;
    line-height: 32px;
    font-size: 20px;
  }

  .about-categories-container {
    margin-top: 15%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    justify-content: center;
  }

  .about-categories-container .category-item {
    margin: auto;
    align-items: flex-start;
  }

  .about-categories-container .category-item-1 {
    margin-top: 0;
  }

  .category-title {
    margin: 45px 40px 30px 40px;
    font-size: 32px;
    line-height: 44px;
  }

  .category-subtitle {
    text-align: left !important;
  }

  /* Contact Form Section */
  .contact-section {
    padding: 5% 10%;
    height: 25%;
    overflow: hidden;
  }

  .contact-container {
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
  }

  .contact-para {
    width: 30%;
    margin-top: 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  .contacts-form {
    width: 70%;
    margin-left: 10%;
    align-items: flex-start;
  }

  .input {
    width: 80%;
    margin-bottom: 20px;
    line-height: 24px;
  }

  .input-text {
    height: 40px;
  }

  .contact-btn-width {
    width: 200px !important;
    height: 50px;
  }
}
