body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Generic Styles */
.d-flex {
  display: flex;
  align-items: center;
}

.text-xl {
  font-size: 50px;
  line-height: 50px;
}

.text-lg {
  margin-top: -10px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #f4f5f7;
}

.primary-text {
  color: #ff6b00;
}

.primary-color {
  background-color: #ff6b00;
}

.secondary-color {
  background-color: #1c1a19;
}

.font-crete-round {
  font-family: Crete Round, sans-serif;
  font-weight: normal;
}

.font-inter {
  font-family: Inter, sans-serif;
}

.text-white {
  color: white;
}

.font-size-medium {
  font-size: 18px;
}

.primary-button {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}

.primary-button:hover {
  font-weight: bold;
  font-size: 17px;
  border: 1px solid #f55800;
  border-radius: 0;
  color: #f55800;
  background-color: #fff5e1;
  cursor: pointer;
}

.box {
  padding: 1px 10px;
  margin-right: 20px;
  margin-bottom: 15px;
}

/* Start of header styles */
header {
  height: 50px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  justify-content: space-between;
  background-color: #3e3c3c;
}

header > a {
  text-decoration: none;
}

#bars > i {
  font-size: 20px;
}

#bars > i:hover {
  color: yellow;
}

/* Start of headline-section styles */
.headline-section {
  width: 100%;
  height: 100vh;
  margin-bottom: -11%;
  justify-content: center;
}

.sider-icons-menu > ul {
  display: flex;
  margin-left: -40px;
}

.sider-icons-menu > ul > li {
  list-style: none;
  font-size: 20px;
  padding: 0 5px;
  cursor: pointer;
}

.headline-text-contents {
  margin-top: -100px;
  margin-left: 2px;
  padding: 0 10px;
  z-index: 20;
}

.headline-text-contents > h5 {
  font-family: Roboto, sans-serif;
  margin-top: -20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 10px;
  color: #fff5e1;
}

.headline-text-contents > p {
  font-family: Poppins, sans-serif;
}

.headline-illustration-container {
  position: absolute;
  width: 100%;
  right: 0;
  top: 40%;
  z-index: -1;
  overflow: hidden;
}

#headline-illustration {
  right: -10%;
  left: 40%;
  margin-left: 60%;
}

/* Works section styles */
.works-section {
  height: auto;
  padding: 0 20px;
  background-color: #e5e5e5;
}

.works-section > h1 {
  text-align: center;
  font-size: 42px;
  padding-top: 40%;
  color: #1c1a19;
}

/* work section multi-post container */
.multi-post-container {
  padding: 60px 0 10px 0;
  flex-direction: column;
  justify-content: center;
}

.multi-post-content > h2 {
  font-size: 32px;
  color: #091e42;
}

.multi-post-content > p {
  margin-top: -6px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #091e42;
}

.multi-post-content > button {
  width: 120px;
  height: 50px;
}

.multi-post-content .box {
  color: #091e42;
  background-color: #fff;
  border: 1px solid #8993a4;
}

/* work section grid container and childrens */
.grid-container {
  overflow: hidden;
  padding: 30px 0;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.grid-items {
  height: 500px;
  align-items: flex-end;
  background-image: url("/public/images/img-placeholder-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-items:last-child {
  margin-bottom: 100px;
}

.grid-item-card {
  width: 100%;
}

.grid-item-card > button {
  height: 50px;
}

.grid-item-card-content {
  padding: 0 20px;
}

.grid-item-card-content .box {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.24);
}

.grid-item-card-content > h2 {
  font-size: 33px;
}

.grid-item-card-content > p {
  line-height: 28px;
  font-size: 17px;
}

.grid-item-card-content .box-container .box > p {
  font-size: 15px;
}

/* About Section styles */
.about-section {
  margin-top: -50px;
  padding: 0 30px;
  height: auto;
}

.about-section-content > h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 10px;
}

.about-section-content .text {
  line-height: 25px;
  font-size: 16px;
  padding: 20px 0;
}

.about-section-content > button {
  width: auto;
  padding: 12px;
}
